aiohttp>=3.14.3
davey>=0.1.6
discord>=2.3.2
discord-py>=2.7.1
fastapi>=0.141.1
httpx>=0.28.1
pylast>=7.1.0
pynacl>=1.6.2
python-dotenv>=1.2.3
spotipy>=2.26.0
uvicorn[standard]>=0.52.0
yt-dlp>=2026.8.30.232658.dev0